@mixin breakpoint($class) {
    
    // @if $class == xxs {
    //     @media (max-width: 479px) { @content; }
    // }

    @if $class == xxs {
      @media (max-width: 319px) { @content; }
    }

    @if $class == xs {
      @media (min-width: 320px) and (max-width: 479px) { @content; }
    }
   
    @else if $class == sm {
      @media (min-width: 480px) and (max-width: 767px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 768px) and (max-width: 989px) { @content; }
    }
   
    @else if $class == lg {
      @media (min-width: 990px) and (max-width: 1199px) { @content; }
    }

    @else if $class == xl {
      @media (min-width: 1200px) and (max-width: 1599px) { @content; }
    }

    @else if $class == xxl {
      @media (min-width: 1600px) { @content; }
    }
   /*
    @else {
      @warn "Breakpoint mixin supports: xxs, xs, sm, md, lg";
    }
    */
}

@mixin backgroundimg($src){
	background-image:url($src);
	background-repeat:no-repeat;
	background-position: center;
	background-size: contain;
}
