

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald.eot');
    src: url('../assets/fonts/Oswald.otf');
    src: url('../assets/fonts/Oswald.woff2') format('woff2'),
        url('../assets/fonts/Oswald.woff') format('woff'),
        url('../assets/fonts/Oswald.svg#svgFontName') format('svg');
    font-display: swap;
}

$primary-font: 'Oswald', sans-serif;
$typewriter-font: 'Courier New', Courier, monospace;
$sans-font: sans-serif;
$root-font-size: 16px;

$primary-color:#333;

$primary: #991111;
$secondary: #ef4438;
$checked: rgb(14, 177, 35);
$activetext: #555;
$light: #999;
$super-light:#BDBDBD;
$border-light: #EEE;
$border-medium: #CDCDCD;
$hoverbg: #FAFAFA;