<template>
    <div class="todolist">

        <div class="form__group field">
            <input id="inpt" v-model="task" class="form__field" :placeholder="what" @keyup.enter.prevent="addTask()"/>
            <label for="inpt" class="form__label">{{ what }}</label>
        </div>
       
        <ul class="tasks">
           <li v-for="todo in todos" 
            :key="todo.id" 
            :class="['task', {edit: inEditMode === todo.id}]"
            @dblclick="setEditMode(todo)">
                <input v-model="todo.done" @change="updateTask(todo)" type="checkbox" class="cbx" :id="'cbx_' + todo.id" style="display: none;">
                <label :for="'cbx_' + todo.id" class="check">
                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                        <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
                <div class="desc">
                    <div :class="['inner', { strikethrough : todo.done }]">
                        <input :ref="'taskinpt_'+todo.id" v-if="inEditMode === todo.id" 
                        v-model="todo.description" 
                        @keyup.enter.prevent="updateTask(todo)" 
                        @blur="updateTask(todo)"/>
                        <span v-else v-tooltip.bottom-start="'created ' + formatDate(todo.date) + (todo.updated ? ', updated ' + formatDate(todo.updated) : '')">{{ todo.description }}</span>
                    </div>

                <div class="del" @click="deleteTask(todo.id)">
                    <svg width="15px" height="15px" viewBox="0 0 1000 1000">
                        <path d="M22.3,81.9C6.1,65.8,6,39,22.5,22.5C39.1,5.9,65.6,5.9,81.9,22.3L500,440.3L918.1,22.3c16.1-16.1,43-16.3,59.5,0.2c16.6,16.6,16.6,43.1,0.2,59.5L559.7,500l418.1,418.1c16.1,16.1,16.3,43-0.2,59.5c-16.6,16.6-43.1,16.6-59.5,0.2L500,559.7L81.9,977.7c-16.1,16.1-43,16.3-59.5-0.2c-16.6-16.6-16.6-43.1-0.2-59.5L440.3,500L22.3,81.9z"/>
                    </svg>
                </div>

                </div>
                <!-- <div class="del" @click="deleteTask(todo.id)">
                    <svg width="15px" height="15px" viewBox="0 0 1000 1000">
                        <path d="M22.3,81.9C6.1,65.8,6,39,22.5,22.5C39.1,5.9,65.6,5.9,81.9,22.3L500,440.3L918.1,22.3c16.1-16.1,43-16.3,59.5,0.2c16.6,16.6,16.6,43.1,0.2,59.5L559.7,500l418.1,418.1c16.1,16.1,16.3,43-0.2,59.5c-16.6,16.6-43.1,16.6-59.5,0.2L500,559.7L81.9,977.7c-16.1,16.1-43,16.3-59.5-0.2c-16.6-16.6-16.6-43.1-0.2-59.5L440.3,500L22.3,81.9z"/>
                    </svg>
                </div> -->
            </li>
        </ul>

        <div v-if="pending > 0 || finished > 0" class="stats">
            {{ finished }} finished - {{ pending }} pending
            <div v-if="pending === 0 && finished > 0" class="yay">👌 💯</div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
moment.locale('en');

import db from '../database.js';
export default {
    data (){
        return {
            what:'What needs to be done ?',
            task:'',
            todos:[],
            inEditMode: null
        }
    },
    computed: {
        finished() {return this.todos.filter(todo => {return todo.done }).length},
        pending() {return this.todos.filter(todo => {return !todo.done }).length}
    },
    async mounted() {
        this.triggerUpdate();
    },
    methods:{
        async triggerUpdate(){
            this.todos = await db.getTodos();
        },
        formatDate(dateIn) {
            return moment(dateIn).fromNow();
        },
        async addTask() {
            await db.addTodo(this.task);
            this.task = '';
            this.triggerUpdate();
        },
        async deleteTask(id){
            await db.deleteTodo(id);
            this.triggerUpdate();
        },
        async setEditMode(todo){
           this.inEditMode = todo.id;
           await this.$nextTick();
           this.$refs['taskinpt_' + todo.id][0].focus();
        },
        async updateTask(todo) {
            await db.updateTodo(todo);
            this.inEditMode = null;
            this.triggerUpdate();
        }
    }
}
</script>

<style lang="scss">

 @import "../sass/variables";
 @import "../sass/mixins";
 @import "../sass/tooltip";

.strikethrough {
    transition: 0.3s;
    text-decoration: line-through;
    color:$light;
}

.todolist{

    display:block;
    width:100%;

    .tasks {
        display:block;
        padding:0;
        margin:0;
        list-style-type: none;

        .task{
            display:flex;
            color: $activetext;
            padding: 1.2rem 0.5rem;
            &:not(:last-child){
                border-bottom:1px solid $border-light;
            }

            &.edit{
                background-color:#f1f2f3;
                background-image:
                    linear-gradient(rgba(0,0,0,.015) 1px, transparent 1px),
                    linear-gradient(0, rgba(0,0,0,.015) 1px, transparent 1px);
                background-size:5px 5px;
                background-position:-1px -1px, -1px -1px
            }

            .desc{
                transition: 0.3s;
                flex: 1 1 auto;
                font-size:1.5rem;
                line-height:1;
                height:1.75rem;
                overflow:hidden;
                text-overflow: ellipsis;
                


                .inner {
                    overflow:hidden;
                    text-overflow: ellipsis;
                    width: calc(100% - 30px);
                    display: inline-block;
                    padding:0;
                    line-height:1;
                    height:1.75rem;
                }
               
                input{
                    display:inline-block;
                    width: 99%;
                    line-height:1;
                    height:1.8rem;
                    padding: 0!important;
                    margin: -2px 0 0 0;
                    border: 0;
                    border-radius:0;
                    outline: none;
                    font-family: inherit;
                    font-size: 1.5rem;
                    color: $activetext;
                    background-color:transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                 &:hover {
                    & .del{
                        opacity:1;
                        visibility:visible;
                    }
                }
            }

            .date{
                font-family: arial;
                color:$light;
                align-self: flex-end;
                font-size:0.6rem;
            }

            .del{
                transition: 0.3s;
                width: 15px;
                height: 15px;
                opacity:0;
                visibility:hidden;
                right:0;
                padding:0 0.25rem 0 0.5rem;
                display: inline-block;
                float:right;
               
                
                
                cursor:pointer;
                svg {
                    fill: $secondary;
                }
            }

        }
    }

    .stats{
        display:block;
        width:100%;
        padding:0.25rem 0 0.75rem 0;
        margin: 2.5rem 0 0 0;
        border-top: 1px solid $border-medium;
        text-align:center;
        font-family: courier;
        font-size: 0.6rem;
        color:$light;

        .yay{
            font-size:1rem;
            padding:0.25rem 0 0 0;
        }
    }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  margin-bottom:2rem;
}

.form__field {
  font-family: inherit;
  width: calc(100% - 2.25rem);
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $border-medium;
  outline: none;
  font-size: 1.5rem;
  color: $activetext;
  padding: 0.5rem 0 0.5rem 2.25rem;
  background: transparent;
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.5rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  padding-left:2.25rem;
  color: $light;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:400;    
  }
  padding-bottom: 0.5rem;  
  font-weight: 400;
  border-top: none;
  border-left: none;
  border-right: none;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-width: 0 0 2px 0;
  border-image-slice: 1;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  margin-right:0.5rem;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: $checked;
}
.cbx:checked + .check svg {
  stroke: $checked;
}
.cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

</style>