<template>
<main>
<div class="container">
  <h2>Simple Todo List</h2>
  <div class="card-wrapper">
    <todo />
  </div>

  <div class="disclaimer">
    Double-click/-tap to edit a task.<br><br>
    This is an experimental app to hook me up<br/>
    with indexedDB and serviceworker implementation.<br/>
    After the first visit it works without network connection.<br>

    Written as a one day project in vue.js by <a href="http://www.smart-sign.com">thooyork</a>.<br/>
  </div>
</div>
</main>
</template>

<script>
import Todo from "./components/Todo.vue";

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/index.css';
Vue.use(VueToast);


export default {
  components:{
    Todo
  },
  data () {
    return {
      online: true,
      toastConfig: {
        message: '',
        type: 'default',
        position: 'bottom'
      }
    }
  },
  created() {
    window.addEventListener('load', () => {
        // first set the correct status when the page loads
        this.online = navigator.onLine;
        // listen for network status changes
        window.addEventListener('online', () => {
          this.online = true;
          this.toastConfig.message = 'You\'re online again. 💻';
          this.toastConfig.type = 'success';
          Vue.$toast.open(this.toastConfig);
        });
        window.addEventListener('offline', () => {
          this.online = false;
           this.toastConfig.message = 'Network connection dropped. 🔌';
           this.toastConfig.type = 'error';
          Vue.$toast.open(this.toastConfig);
        });
    });
  }
}
</script>

<style lang="scss">

  @import "./sass/variables";
  @import "./sass/mixins";

  html, body {
    padding:0;
    margin:0;
    font-family: $primary-font;
    font-size: $root-font-size;
    overflow-x:hidden;
    background-color:#EFEFEF;
  }

  h2{
    display: block;
    clear:both;
    padding:0;
    margin:0 0 30px 0;
    text-transform:uppercase;
    // color:$primary-color;
    font-size:4rem;

    background-color: $super-light;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
      -moz-background-clip: text;
            background-clip: text;

    @include breakpoint('xxs'){
      font-size:2rem;
    }
    @include breakpoint('xs'){
      font-size:2.5rem;
    }
    @include breakpoint('sm'){
      font-size:3rem;
    }
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height:100vh;
    padding:0 1rem;
    
    .card-wrapper{
      width:100%;
      min-width:250px;
      max-width:500px;
      box-shadow:2px 2px 8px rgba(120,120,120, 0.2);
      background-color:#FFFFFF;
    }

    .disclaimer{
      padding-top: 2rem;
      text-align:center;
      font-family: courier;
      font-size: 0.8rem;
      color:$light;
      a{
        color:$light;
        text-decoration:none;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }

  .toast{
    border-radius: 0!important;
  }
</style>
